* {
    box-sizing: border-box;
    padding: 0%;
}

body {
    background-color: #101010;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.listbox {
    border-radius: 20px;
    width: 325px;
    min-height: 200px;
    background-color: #1b1b1b;
    padding: 10px;
}

.head {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: aliceblue;
    font-family: sans-serif;
    margin: 6px;
}

.inputbut {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: aliceblue;
    font-family: sans-serif;
  
}
.input input{
    height: 50px;
    width: 200px;
    border-radius: 10px;
    border: none;
    padding: 15px;
    margin: 5px;
    color: aliceblue;
    font-size: 20px;
    background-color: #2f2f2f;
}

.input input:focus{
    outline: solid 1px white;
}

.but button {
    height: 50px;
    width: 80px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    margin: 5px;
    background-color: #5e00da;
    color: azure;
    
}

.but button:active {
    background-color: #761fe9;
}


.tasks li {
    background-color: #2f2f2f;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 10px;
    height: 50px;
    margin: 9px;
    color: rgb(203, 205, 207);
    font-size: 24px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.tasks li button{
    height: 30px;
    width: 80px;
    border-radius: 6px;
    border: none;
    background-color: #a30a0a;
    color: azure;
    margin-right: 10px;
}

.completed span {
    text-decoration: line-through;
    color: #a09e9e;
}